body {
  background-color: mintcream;
  font-family: arial, sans-serif;

  color: #142d4c;
}
.container {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 50px auto 0px auto;

  max-width: 800px;
  padding: 40px;
}
input {
  position: relative;
  left: 60%;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  padding: 10px 15px;
  font-weight: 100px;
  font-size: medium;
}
h1 {
  color: orange;
  font-size: 60px;
  font: helvetica;
  font-weight: bold;
  padding-top: 20px;
  width: 75%;
}
.flexbox {
  display: flex;
  flex-direction: row;
  width: 600px;

  justify-grow: 1;
}
.temp-flex {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: flex-end;
}
.col-5 {
  color: #9fd3c7;
  font-size: 80px;
  font-weight: bolder;
  text-align: right;
}
.temperature {
  font-size: 20px;
  text-align: right;
  margin-right: 120px;
}
.unitsCelsius:hover,
.unitsFarenheit:hover {
  transition: all 200ms ease;
  font-size: 24px;
}
.current-date-id {
  font-weight: bold;
  font-size: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
p {
  font-size: 26px;
  color: #142d4c;
  text-align: left;
}
#description {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.source {
  margin: 280px;
}
